.header {
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #2196f3;
  position: fixed;
  z-index: 1;
  &__name-container {
    &__title {
      margin: 5px 0 0;
    }
    &__h-line {
      margin: 3px 0;
    }
  }
  &__search-container {
    margin: auto;
    text-align: center;
  }
}

@mixin atSmall {
  .header {
    &__name-container {
      display: inherit;
      &__title {
        margin-right: auto;
      }
      &__h-line {
        display: none;
      }
      img {
        height: 50%;
      }
    }
    &__search-container {
      display: inherit;
      padding: 0 5px;
    }
  }
}

@mixin atMedium {
  .header {
    &__name-container {
      &__title {
        font-size: 4rem;
      }
    }
  }
}

@mixin atMedium {
  .header {
    &__search-container {
      &__label {
        padding: 0 20px;
      }
    }
  }
}
