.main {
  display: flex;
  flex-direction: column;
  &__search-btn {
    margin: 10px auto 0px;
    background-color: black;
    border-color: white;
    border-radius: 10%;
    color: white;
  }
  &__img-container {
    height: auto;
    margin: 5px;
    text-align: center;
  }
  &__gif {
    width: 100%;
    max-height: 100%;
    height: auto;
  }
}
