.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  &__label {
    text-align: center;
  }
  &__search-btn {
    margin: 20px auto 0px;
    background-color: black;
    border-color: white;
    border-radius: 10%;
    color: white;
  }
  &__img-container {
    height: auto;
    text-align: center;
  }
  &__gif {
    width: auto;
    height: 110px;
    padding: 0 2px;
  }
  &__query {
    margin: 0px auto;
  }
}
