.main {
  margin: 0 auto 0;
  position: relative;
  top: 85px;
  &__label {
    text-align: center;
  }
  &__search-btn {
    margin: 20px auto;
    background-color: black;
    border-color: white;
    border-radius: 10%;
    color: white;
  }
  &__img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__gif {
      width: auto;
      height: 100px;
    }
  }
  &__query {
    margin: 0px auto;
  }
}

@mixin atSmall {
  .main {
    top: 50px;
  }
}

@mixin atMedium {
  .main {
    top: 80px;

    &__img-container {
      &__gif {
        height: 195px;
      }
    }
  }
}
